@charset "UTF-8";

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

footer a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
    font-size: 20px;
}