@charset "UTF-8";

footer {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

footer p {
	text-align: center;
	margin-bottom: 10px;
	color: #808080;
}

footer a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
    font-size: 20px;
}

.spy {
	display: inline-flex;
	align-items: center;
	width: 20px;
	height: 26.67px;
}

.spy:hover {
	color: #0056B3;
}

.spy:focus {
	color: #0056B3;
}

.spy img {
	width: 20px;
	height: 18.94px;
	opacity: 0.6;
}

.spy > img:hover {
	color: #0056B3;
}

.spy > img:focus {
	color: #0056B3;
}

