@charset "UTF-8";

tbody a {
	color: black;
	transition: background-color 0.3s, color 0.2s;
}

tbody a:hover {
	text-decoration: none;
	background-color: gray;
	color: white;
}

.container {
	padding-top: 50px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table th:nth-child(1), .table td:nth-child(1) {
    /* width: 5%; */
    width: 55px;
}

.table th:nth-child(2), .table td:nth-child(2) {
    /* width: 10%; */
    width: 150px;
}

.table th:nth-child(3), .table td:nth-child(3) {
    /* width: 50%; */
    width: 555px;
}

.table th:nth-child(4), .table td:nth-child(4) {
    /* width: 10%; */
    width: 111px;
}

.table th:nth-child(5), .table td:nth-child(5) {
    /* width: 10%; */
    width: 111px;
}

tfoot .btn:hover {
	color: white;
}
