@charset "UTF-8";

ul {
	padding: 0;
	list-style: none;
}

li {
	margin: 0!important;
}

.filter {
	margin: 0;
}

.pageName {
	padding: 70px 0 50px;
    margin: 0;
    text-align: center;
    color: #1a1a1a;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.filter_menu {
    border: 0;
    text-align: center;
    padding-bottom: 80px;
}

.filter_menu > ul > li {
    display: inline-block;
    width: auto;
    margin: 0 6px;
    padding: 0 5px;
}

.filter_menu > ul > li > a {
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    color: #1a1a1a;
    font-weight: 400;
    line-height: 1;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 22px;
    transition: all 0.3s;
    text-decoration: none;
}

.filter_menu ul > li > a.active {
	color: #000;
	font-weight: bold;
}

.sort_menu {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 30px;
}

.sort_menu > li:first-child > a {
	background: none;
}

.sort_menu > li {
	line-height: 12px;
}

.sort_menu > li > a {
	font-size: 13px;
	color: #8a8a8a;
	font-weight: 300;
    line-height: 20px;
    padding-left: 12px;
    margin-left: 8px;
    background: url('https://www.gelcandleshop.co.kr/design/gelcandle/0783nordichaus/sort_bg.png') no-repeat 0 50%;
    text-decoration: none;
}

.sort_menu > li > a:hover {
	color: #000;
}

.sort_menu > li > a.active {
	color: #000;
	font-weight: bold;
}

/* .productList {
	display: flex;
	flex-direction: row;
	gap: 20px;
} */

.productList a {
    color: #000;
}

.productList a:hover {
    text-decoration: none;
    color: #000;
}

/* .item_list {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 0 80px 20px;
	margin-left: 0;	
}

.thumbnail > a > img {
	width: 100%;
	height: 100%;
} */

.productList {
    display: flex;
    flex-wrap: wrap;
}

.item_list {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.thumbnail > a > img {
    /* width: 100%;
    height: auto; */
    width: 250px;
    height: 250px;
}

.product_info {
	padding-top: 10px;
}

.product_info > ul > li > a {
	display: flex;
	justify-content: center;
}

.product_price {
	display: flex;
	justify-content: center;
}

.product_tag > a {
	color: #808080 !important;
	font-size: 12px;
}
