@charset "UTF-8";

a {
	text-decoration: none;
}

#carousel_slide {
	padding-top: 50px;
}

.carousel-inner {
    height: 400px;
    overflow: hidden;
}

.carousel-inner img {
    max-height: 100%;
    width: 100%;
}

.title_main {
	color: #231815;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

.title_split {
	width: 25px;
    height: 1px;
    background-color: #231815;
    margin: 14px auto;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

.title_content {
	color: #8a8a8a;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

.productList {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-bottom: 50px;
}

.product-entry {
  width: 100%;
  position: relative;
}

.prod-img {
  position: relative;
  overflow: hidden;
  display: block;
  transition: transform 0.3s, filter 0.3s;
}

.prod-img img {
  width: 100%;
  display: block;
}

.product_info {
  	position: absolute;
  	top: 60%;
  	left: 0;
  	width: 100%;
  	transform: translateY(-50%);
  	color: white;
  	padding: 10px;
  	opacity: 0;
  	transition: opacity 0.3s, transform 0.3s;
}

.price {
	font-size: 25px;
	font-weight: 500;
	color: #DB2B2B;
	/* color: #fff; */
}

.product_info a {
  	text-decoration: none;
  	color: white;
}

.product-entry:hover .prod-img {
  transform: scale(1.1);
  filter: brightness(50%);
}

.product-entry:hover .product_info {
  opacity: 1;
  transform: translateY(-60%);
}
