@charset "UTF-8";

a {
	text-decoration: none;
}

#carousel_slide {
	padding-top: 50px;
}

.carousel-inner {
    height: 400px;
    overflow: hidden;
}

.carousel-inner img {
    max-height: 100%;
    width: 100%;
}

.product-entry {
	height: 100%;
}

.desc {
	padding: 1.5em;
}

.price {
	font-size: 18px;
	color: #000;
	font-weight: 400;
}

.desc h2 a {
	color: #000;
	font-size: 18px;
	font-weight: 400;
}

.prod-img {
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.prod-img > img {
	width: 250px;
	height: 250px;
}