@charset "UTF-8";

a {
	text-decoration: none;
}

#carousel_slide {
	padding-top: 50px;
}

.carousel-inner {
    height: 400px;
    overflow: hidden;
    b
}

.carousel-inner img {
    max-height: 100%;
    width: 100%;
}

.title_main {
	color: #231815;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

.title_split {
	width: 25px;
    height: 1px;
    background-color: #231815;
    margin: 14px auto;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

.title_content {
	color: #8a8a8a;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

.productList {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-bottom: 50px;
}

.product-entry {
  	width: 100%;
  	position: relative;
}

.prod-img {
  	position: relative;
  	overflow: hidden;
  	display: block;
  	transition: transform 0.3s, filter 0.3s;
}

.prod-img img {
  	width: 100%;
  	display: block;
  	height: 386px;
}

.product_info {
  	position: absolute;
  	top: 60%;
  	left: 0;
  	width: 100%;
  	transform: translateY(-50%);
  	color: white;
  	padding: 10px;
  	opacity: 0;
  	transition: opacity 0.3s, transform 0.3s;
}

.price {
	font-size: 25px;
	font-weight: 500;
	color: #DB2B2B;
}

.product_info a {
  	text-decoration: none;
  	color: white;
}

.product-entry > a > h3 > span {
	position: absolute;
	top: 4%;
	left: 3%;
	box-shadow: 2px 2px #808080;
}

.prod-img > img {
	width: 350px;
}

.prod-img:hover {
	cursor: pointer;
}

.product-entry:hover .prod-img {
  	transform: scale(1.1);
  	filter: brightness(50%);
}

.product-entry:hover .product_info {
  	opacity: 1;
  	transform: translateY(-60%);
}

.product_thumbnail:hover .prod-img {
	filter: brightness(50%);
}

.product_thumbnail:hover .sortProduct_info {
	opacity: 1;
	transform: translateY(-60%);
}

.sortProduct_info {
	position: absolute;
  	top: 40%;
  	left: 0;
  	width: 100%;
  	transform: translateY(-50%);
  	color: white;
  	padding: 10px;
  	opacity: 0;
  	transition: opacity 0.3s, transform 0.3s;
}

.sortProduct_info a {
  	text-decoration: none;
  	color: white;
}

.review_info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 26px 26px;
}

.review_title {
	font-size: 18px;
    color: #231815;
    font-weight: 400;
    padding-right: 10px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review_content {
	font-size: 14px;
    color: #8a8a8a;
    font-weight: 300;
    padding-right: 10px;
    padding-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5;
    height: 3em;
    word-wrap: break-word;
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.review_split_line {
	width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    margin: 20px 0px 16px;
}

.review_userName span {
	display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #5a5a5a;
    font-weight: 300;
    padding-left: 10px;
}

.review_userName > span:first-child {
	background: url('https://www.gelcandleshop.co.kr/design/gelcandle/0783nordichaus/re_bg_line.png') right;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-right: 10px;
}

.review_userName .star_avg {
	float: right;
}


